[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = {extras = ["markdown"], version = "*"}
markdown-headdown = "*"
ghp-import = "*"
pelican-redirect-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
